section#slide-1.naviSlide
  .navi-image-slide(
      data-center="background-position: 50% 0px;"
  		data-top-bottom="background-position: 50% -100px;"
  		data-anchor-target="#slide-1")
    .navi-image-container
      .navi-image-content(
        data-50="transform: translate(0, 0); opacity: 0.9;"
        data-80=""
        data-105=" transform: translate(0px, 0px); opacity: 0.8;"
        data-175=" transition: 0.5s; transform: translate(220%, 0); opacity: 0.7;"
        data-185="opacity: 0;"
        data-anchor-target="#slide-1 .navi-second-block")
        .navi-second-block
           h2 Изобилие выбора

section#slide-2.naviSlide
  .navi-image-container2
    .navi-image-content2(
      data-0="opacity: 1; transform: translate(0px, 0px;)"
      data-50="transition: 0.2s;"
      data-100="opacity: 0.6; transition: 0.2s; transform: translate(90%, 0px;)"
      data-anchor-target="#slide-2 .navi-first-block")
      .navi-first-block
        h2 Изделия только ручной работы

section#slide-3.naviSlide
  .navi-image-container3
    .navi-image-content3(
      data-105=" transform: translate(0px, 0px); opacity: 0.8;"
      data-270=" transition: 0.5s; transform: translate(90%, 0); opacity: 0.7;"
      data-anchor-target="#slide-3 .navi-third-block")
      .navi-third-block
        h2 Красота наше кредо!
